$primary-color-light: #ffc863;
$primary-color: #287cd6;
$primary-color-dark: #162a7c;
$primary-color-dark-transparent: #287cd62a;
$font-color: #2a2a2a;
$neutral-color-light: #fefefe;
$neutral-color-dark: #1a1a1a;

$font-family: "Inter", sans-serif;
$font-family-title: "Grandstander", cursive;
